==== BASE ====

mainwindow_BASE_3087.ui

mainwindow_LOCAL_3087.ui

mainwindow_REMOTE_3087.ui

Models/canvas_BACKUP_3028.h

Models/canvas_BASE_3028.h

Models/canvas_LOCAL_3028.h

Models/canvas_REMOTE_3028.h

SpriteEditor.pro.user.961f054

*.user

*.o

SpriteEditor.pro.user

.DS_Store

*.autosave
